.font-8{ font-size: 8px;}
.font-9{ font-size: 9px;}
.font-10{ font-size: 10px;}
.font-11{ font-size: 11px;}
.font-12{ font-size: 12px;}
.font-13{ font-size: 13px;}
.font-14{ font-size: 14px;}
.font-15{ font-size: 15px;}
.font-16{ font-size: 16px;}
.font-17{ font-size: 17px;}
.font-18{ font-size: 18px;}
.font-19{ font-size: 19px;}
.font-20{ font-size: 20px;}
.font-21{ font-size: 21px;}
.font-22{ font-size: 22px;}
.font-23{ font-size: 23px;}
.font-24{ font-size: 24px;}
.font-25{ font-size: 25px;}
.font-26{ font-size: 26px;}
.font-27{ font-size: 27px;}
.font-28{ font-size: 28px;}
.font-29{ font-size: 29px;}
.font-30{ font-size: 30px;}
.font-31{ font-size: 31px;}
.font-32{ font-size: 32px;}
.font-33{ font-size: 33px;}
.font-34{ font-size: 34px;}
.font-35{ font-size: 35px;}
.font-36{ font-size: 36px;}
.font-37{ font-size: 37px;}
.font-38{ font-size: 38px;}
.font-39{ font-size: 39px;}
.font-40{ font-size: 40px;}
.font-41{ font-size: 41px;}
.font-42{ font-size: 42px;}
.font-43{ font-size: 43px;}
.font-44{ font-size: 44px;}
.font-45{ font-size: 45px;}
.font-46{ font-size: 46px;}
.font-47{ font-size: 47px;}
.font-48{ font-size: 48px;}
.font-8f{ font-size: 8px !important;}
.font-9f{ font-size: 9px !important;}
.font-10f{ font-size: 10px !important;}
.font-11f{ font-size: 11px !important;}
.font-12f{ font-size: 12px !important;}
.font-13f{ font-size: 13px !important;}
.font-14f{ font-size: 14px !important;}
.font-15f{ font-size: 15px !important;}
.font-16f{ font-size: 16px !important;}
.font-17f{ font-size: 17px !important;}
.font-18f{ font-size: 18px !important;}
.font-19f{ font-size: 19px !important;}
.font-20f{ font-size: 20px !important;}
.font-21f{ font-size: 21px !important;}
.font-22f{ font-size: 22px !important;}
.font-23f{ font-size: 23px !important;}
.font-24f{ font-size: 24px !important;}
.font-25f{ font-size: 25px !important;}
.font-26f{ font-size: 26px !important;}
.font-27f{ font-size: 27px !important;}
.font-28f{ font-size: 28px !important;}
.font-29f{ font-size: 29px !important;}
.font-30f{ font-size: 30px !important;}
.font-31f{ font-size: 31px !important;}
.font-32f{ font-size: 32px !important;}
.font-33f{ font-size: 33px !important;}
.font-34f{ font-size: 34px !important;}
.font-35f{ font-size: 35px !important;}
.font-36f{ font-size: 36px !important;}
.font-37f{ font-size: 37px !important;}
.font-38f{ font-size: 38px !important;}
.font-39f{ font-size: 39px !important;}
.font-40f{ font-size: 40px !important;}
.font-41f{ font-size: 41px !important;}
.font-42f{ font-size: 42px !important;}
.font-43f{ font-size: 43px !important;}
.font-44f{ font-size: 44px !important;}
.font-45f{ font-size: 45px !important;}
.font-46f{ font-size: 46px !important;}
.font-47f{ font-size: 47px !important;}
.font-48f{ font-size: 48px !important;}
.font-96f{ font-size: 96px !important;}
.text-center{text-align: center;}

.font-bold {
  font-weight: bold;
}
