.ignore-padding{ padding: 0};
.padding-top-4{ padding-top: 4px;}
.padding-top-8{ padding-top: 8px;}
.padding-top-12{ padding-top: 12px;}
.padding-top-16{ padding-top: 16px;}
.padding-top-20{ padding-top: 20px;}
.padding-top-24{ padding-top: 24px;}
.padding-top-28{ padding-top: 28px;}
.padding-top-32{ padding-top: 32px;}
.padding-top-36{ padding-top: 36px;}
.padding-top-40{ padding-top: 40px;}
.padding-top-44{ padding-top: 44px;}
.padding-top-48{ padding-top: 48px;}
.padding-top-52{ padding-top: 52px;}
.padding-top-56{ padding-top: 56px;}
.padding-top-60{ padding-top: 60px;}
.padding-top-64{ padding-top: 64px;}
.padding-top-68{ padding-top: 68px;}
.padding-top-72{ padding-top: 72px;}
.padding-top-76{ padding-top: 76px;}
.padding-top-80{ padding-top: 80px;}
.padding-top-84{ padding-top: 84px;}
.padding-top-88{ padding-top: 88px;}
.padding-top-92{ padding-top: 92px;}
.padding-top-96{ padding-top: 96px;}
.padding-left-4{ padding-left: 4px;}
.padding-left-8{ padding-left: 8px;}
.padding-left-12{ padding-left: 12px;}
.padding-left-16{ padding-left: 16px;}
.padding-left-20{ padding-left: 20px;}
.padding-left-24{ padding-left: 24px;}
.padding-left-28{ padding-left: 28px;}
.padding-left-32{ padding-left: 32px;}
.padding-left-36{ padding-left: 36px;}
.padding-left-40{ padding-left: 40px;}
.padding-left-44{ padding-left: 44px;}
.padding-left-48{ padding-left: 48px;}
.padding-left-52{ padding-left: 52px;}
.padding-left-56{ padding-left: 56px;}
.padding-left-60{ padding-left: 60px;}
.padding-left-64{ padding-left: 64px;}
.padding-left-68{ padding-left: 68px;}
.padding-left-72{ padding-left: 72px;}
.padding-left-76{ padding-left: 76px;}
.padding-left-80{ padding-left: 80px;}
.padding-left-84{ padding-left: 84px;}
.padding-left-88{ padding-left: 88px;}
.padding-left-92{ padding-left: 92px;}
.padding-left-96{ padding-left: 96px;}
.padding-right-4{ padding-right: 4px;}
.padding-right-8{ padding-right: 8px;}
.padding-right-12{ padding-right: 12px;}
.padding-right-16{ padding-right: 16px;}
.padding-right-20{ padding-right: 20px;}
.padding-right-24{ padding-right: 24px;}
.padding-right-28{ padding-right: 28px;}
.padding-right-32{ padding-right: 32px;}
.padding-right-36{ padding-right: 36px;}
.padding-right-40{ padding-right: 40px;}
.padding-right-44{ padding-right: 44px;}
.padding-right-48{ padding-right: 48px;}
.padding-right-52{ padding-right: 52px;}
.padding-right-56{ padding-right: 56px;}
.padding-right-60{ padding-right: 60px;}
.padding-right-64{ padding-right: 64px;}
.padding-right-68{ padding-right: 68px;}
.padding-right-72{ padding-right: 72px;}
.padding-right-76{ padding-right: 76px;}
.padding-right-80{ padding-right: 80px;}
.padding-right-84{ padding-right: 84px;}
.padding-right-88{ padding-right: 88px;}
.padding-right-92{ padding-right: 92px;}
.padding-right-96{ padding-right: 96px;}
.padding-bottom-4{ padding-bottom: 4px;}
.padding-bottom-8{ padding-bottom: 8px;}
.padding-bottom-12{ padding-bottom: 12px;}
.padding-bottom-16{ padding-bottom: 16px;}
.padding-bottom-20{ padding-bottom: 20px;}
.padding-bottom-24{ padding-bottom: 24px;}
.padding-bottom-28{ padding-bottom: 28px;}
.padding-bottom-32{ padding-bottom: 32px;}
.padding-bottom-36{ padding-bottom: 36px;}
.padding-bottom-40{ padding-bottom: 40px;}
.padding-bottom-44{ padding-bottom: 44px;}
.padding-bottom-48{ padding-bottom: 48px;}
.padding-bottom-52{ padding-bottom: 52px;}
.padding-bottom-56{ padding-bottom: 56px;}
.padding-bottom-60{ padding-bottom: 60px;}
.padding-bottom-64{ padding-bottom: 64px;}
.padding-bottom-68{ padding-bottom: 68px;}
.padding-bottom-72{ padding-bottom: 72px;}
.padding-bottom-76{ padding-bottom: 76px;}
.padding-bottom-80{ padding-bottom: 80px;}
.padding-bottom-84{ padding-bottom: 84px;}
.padding-bottom-88{ padding-bottom: 88px;}
.padding-bottom-92{ padding-bottom: 92px;}
.padding-bottom-96{ padding-bottom: 96px;}
.ignore-padding-fixed{ padding: 0 !important;};
.padding-top-4-fixed{ padding-top: 4px !important;}
.padding-top-8-fixed{ padding-top: 8px !important;}
.padding-top-12-fixed{ padding-top: 12px !important;}
.padding-top-16-fixed{ padding-top: 16px !important;}
.padding-top-20-fixed{ padding-top: 20px !important;}
.padding-top-24-fixed{ padding-top: 24px !important;}
.padding-top-28-fixed{ padding-top: 28px !important;}
.padding-top-32-fixed{ padding-top: 32px !important;}
.padding-top-36-fixed{ padding-top: 36px !important;}
.padding-top-40-fixed{ padding-top: 40px !important;}
.padding-top-44-fixed{ padding-top: 44px !important;}
.padding-top-48-fixed{ padding-top: 48px !important;}
.padding-top-52-fixed{ padding-top: 52px !important;}
.padding-top-56-fixed{ padding-top: 56px !important;}
.padding-top-60-fixed{ padding-top: 60px !important;}
.padding-top-64-fixed{ padding-top: 64px !important;}
.padding-top-68-fixed{ padding-top: 68px !important;}
.padding-top-72-fixed{ padding-top: 72px !important;}
.padding-top-76-fixed{ padding-top: 76px !important;}
.padding-top-80-fixed{ padding-top: 80px !important;}
.padding-top-84-fixed{ padding-top: 84px !important;}
.padding-top-88-fixed{ padding-top: 88px !important;}
.padding-top-92-fixed{ padding-top: 92px !important;}
.padding-top-96-fixed{ padding-top: 96px !important;}
.padding-left-4-fixed{ padding-left: 4px !important;}
.padding-left-8-fixed{ padding-left: 8px !important;}
.padding-left-12-fixed{ padding-left: 12px !important;}
.padding-left-16-fixed{ padding-left: 16px !important;}
.padding-left-20-fixed{ padding-left: 20px !important;}
.padding-left-24-fixed{ padding-left: 24px !important;}
.padding-left-28-fixed{ padding-left: 28px !important;}
.padding-left-32-fixed{ padding-left: 32px !important;}
.padding-left-36-fixed{ padding-left: 36px !important;}
.padding-left-40-fixed{ padding-left: 40px !important;}
.padding-left-44-fixed{ padding-left: 44px !important;}
.padding-left-48-fixed{ padding-left: 48px !important;}
.padding-left-52-fixed{ padding-left: 52px !important;}
.padding-left-56-fixed{ padding-left: 56px !important;}
.padding-left-60-fixed{ padding-left: 60px !important;}
.padding-left-64-fixed{ padding-left: 64px !important;}
.padding-left-68-fixed{ padding-left: 68px !important;}
.padding-left-72-fixed{ padding-left: 72px !important;}
.padding-left-76-fixed{ padding-left: 76px !important;}
.padding-left-80-fixed{ padding-left: 80px !important;}
.padding-left-84-fixed{ padding-left: 84px !important;}
.padding-left-88-fixed{ padding-left: 88px !important;}
.padding-left-92-fixed{ padding-left: 92px !important;}
.padding-left-96-fixed{ padding-left: 96px !important;}
.padding-right-4-fixed{ padding-right: 4px !important;}
.padding-right-8-fixed{ padding-right: 8px !important;}
.padding-right-12-fixed{ padding-right: 12px !important;}
.padding-right-16-fixed{ padding-right: 16px !important;}
.padding-right-20-fixed{ padding-right: 20px !important;}
.padding-right-24-fixed{ padding-right: 24px !important;}
.padding-right-28-fixed{ padding-right: 28px !important;}
.padding-right-32-fixed{ padding-right: 32px !important;}
.padding-right-36-fixed{ padding-right: 36px !important;}
.padding-right-40-fixed{ padding-right: 40px !important;}
.padding-right-44-fixed{ padding-right: 44px !important;}
.padding-right-48-fixed{ padding-right: 48px !important;}
.padding-right-52-fixed{ padding-right: 52px !important;}
.padding-right-56-fixed{ padding-right: 56px !important;}
.padding-right-60-fixed{ padding-right: 60px !important;}
.padding-right-64-fixed{ padding-right: 64px !important;}
.padding-right-68-fixed{ padding-right: 68px !important;}
.padding-right-72-fixed{ padding-right: 72px !important;}
.padding-right-76-fixed{ padding-right: 76px !important;}
.padding-right-80-fixed{ padding-right: 80px !important;}
.padding-right-84-fixed{ padding-right: 84px !important;}
.padding-right-88-fixed{ padding-right: 88px !important;}
.padding-right-92-fixed{ padding-right: 92px !important;}
.padding-right-96-fixed{ padding-right: 96px !important;}
.padding-bottom-4-fixed{ padding-bottom: 4px !important;}
.padding-bottom-8-fixed{ padding-bottom: 8px !important;}
.padding-bottom-12-fixed{ padding-bottom: 12px !important;}
.padding-bottom-16-fixed{ padding-bottom: 16px !important;}
.padding-bottom-20-fixed{ padding-bottom: 20px !important;}
.padding-bottom-24-fixed{ padding-bottom: 24px !important;}
.padding-bottom-28-fixed{ padding-bottom: 28px !important;}
.padding-bottom-32-fixed{ padding-bottom: 32px !important;}
.padding-bottom-36-fixed{ padding-bottom: 36px !important;}
.padding-bottom-40-fixed{ padding-bottom: 40px !important;}
.padding-bottom-44-fixed{ padding-bottom: 44px !important;}
.padding-bottom-48-fixed{ padding-bottom: 48px !important;}
.padding-bottom-52-fixed{ padding-bottom: 52px !important;}
.padding-bottom-56-fixed{ padding-bottom: 56px !important;}
.padding-bottom-60-fixed{ padding-bottom: 60px !important;}
.padding-bottom-64-fixed{ padding-bottom: 64px !important;}
.padding-bottom-68-fixed{ padding-bottom: 68px !important;}
.padding-bottom-72-fixed{ padding-bottom: 72px !important;}
.padding-bottom-76-fixed{ padding-bottom: 76px !important;}
.padding-bottom-80-fixed{ padding-bottom: 80px !important;}
.padding-bottom-84-fixed{ padding-bottom: 84px !important;}
.padding-bottom-88-fixed{ padding-bottom: 88px !important;}
.padding-bottom-92-fixed{ padding-bottom: 92px !important;}
.padding-bottom-96-fixed{ padding-bottom: 96px !important;}
.padding-v-4{ padding-top: 4px; padding-bottom: 4px;}
.padding-v-8{ padding-top: 8px; padding-bottom: 8px;}
.padding-v-12{ padding-top: 12px; padding-bottom: 12px;}
.padding-v-16{ padding-top: 16px; padding-bottom: 16px;}
.padding-v-20{ padding-top: 20px; padding-bottom: 20px;}
.padding-v-24{ padding-top: 24px; padding-bottom: 24px;}
.padding-v-28{ padding-top: 28px; padding-bottom: 28px;}
.padding-v-32{ padding-top: 32px; padding-bottom: 32px;}
.padding-v-36{ padding-top: 36px; padding-bottom: 36px;}
.padding-v-40{ padding-top: 40px; padding-bottom: 40px;}
.padding-v-44{ padding-top: 44px; padding-bottom: 44px;}
.padding-v-48{ padding-top: 48px; padding-bottom: 48px;}
.padding-v-52{ padding-top: 52px; padding-bottom: 52px;}
.padding-v-56{ padding-top: 56px; padding-bottom: 56px;}
.padding-v-60{ padding-top: 60px; padding-bottom: 60px;}
.padding-v-64{ padding-top: 64px; padding-bottom: 64px;}
.padding-v-68{ padding-top: 68px; padding-bottom: 68px;}
.padding-v-72{ padding-top: 72px; padding-bottom: 72px;}
.padding-v-76{ padding-top: 76px; padding-bottom: 76px;}
.padding-v-80{ padding-top: 80px; padding-bottom: 80px;}
.padding-v-84{ padding-top: 84px; padding-bottom: 84px;}
.padding-v-88{ padding-top: 88px; padding-bottom: 88px;}
.padding-v-92{ padding-top: 92px; padding-bottom: 92px;}
.padding-v-96{ padding-top: 96px; padding-bottom: 96px;}
.padding-vf-4{ padding-top: 4px !important; padding-bottom: 4px !important;}
.padding-vf-8{ padding-top: 8px !important; padding-bottom: 8px !important;}
.padding-vf-12{ padding-top: 12px !important; padding-bottom: 12px !important;}
.padding-vf-16{ padding-top: 16px !important; padding-bottom: 16px !important;}
.padding-vf-20{ padding-top: 20px !important; padding-bottom: 20px !important;}
.padding-vf-24{ padding-top: 24px !important; padding-bottom: 24px !important;}
.padding-vf-28{ padding-top: 28px !important; padding-bottom: 28px !important;}
.padding-vf-32{ padding-top: 32px !important; padding-bottom: 32px !important;}
.padding-vf-36{ padding-top: 36px !important; padding-bottom: 36px !important;}
.padding-vf-40{ padding-top: 40px !important; padding-bottom: 40px !important;}
.padding-vf-44{ padding-top: 44px !important; padding-bottom: 44px !important;}
.padding-vf-48{ padding-top: 48px !important; padding-bottom: 48px !important;}
.padding-vf-52{ padding-top: 52px !important; padding-bottom: 52px !important;}
.padding-vf-56{ padding-top: 56px !important; padding-bottom: 56px !important;}
.padding-vf-60{ padding-top: 60px !important; padding-bottom: 60px !important;}
.padding-vf-64{ padding-top: 64px !important; padding-bottom: 64px !important;}
.padding-vf-68{ padding-top: 68px !important; padding-bottom: 68px !important;}
.padding-vf-72{ padding-top: 72px !important; padding-bottom: 72px !important;}
.padding-vf-76{ padding-top: 76px !important; padding-bottom: 76px !important;}
.padding-vf-80{ padding-top: 80px !important; padding-bottom: 80px !important;}
.padding-vf-84{ padding-top: 84px !important; padding-bottom: 84px !important;}
.padding-vf-88{ padding-top: 88px !important; padding-bottom: 88px !important;}
.padding-vf-92{ padding-top: 92px !important; padding-bottom: 92px !important;}
.padding-vf-96{ padding-top: 96px !important; padding-bottom: 96px !important;}
.padding-h-4{ padding-left: 4px; padding-right: 4px;}
.padding-h-8{ padding-left: 8px; padding-right: 8px;}
.padding-h-12{ padding-left: 12px; padding-right: 12px;}
.padding-h-16{ padding-left: 16px; padding-right: 16px;}
.padding-h-20{ padding-left: 20px; padding-right: 20px;}
.padding-h-24{ padding-left: 24px; padding-right: 24px;}
.padding-h-28{ padding-left: 28px; padding-right: 28px;}
.padding-h-32{ padding-left: 32px; padding-right: 32px;}
.padding-h-36{ padding-left: 36px; padding-right: 36px;}
.padding-h-40{ padding-left: 40px; padding-right: 40px;}
.padding-h-44{ padding-left: 44px; padding-right: 44px;}
.padding-h-48{ padding-left: 48px; padding-right: 48px;}
.padding-h-52{ padding-left: 52px; padding-right: 52px;}
.padding-h-56{ padding-left: 56px; padding-right: 56px;}
.padding-h-60{ padding-left: 60px; padding-right: 60px;}
.padding-h-64{ padding-left: 64px; padding-right: 64px;}
.padding-h-68{ padding-left: 68px; padding-right: 68px;}
.padding-h-72{ padding-left: 72px; padding-right: 72px;}
.padding-h-76{ padding-left: 76px; padding-right: 76px;}
.padding-h-80{ padding-left: 80px; padding-right: 80px;}
.padding-h-84{ padding-left: 84px; padding-right: 84px;}
.padding-h-88{ padding-left: 88px; padding-right: 88px;}
.padding-h-92{ padding-left: 92px; padding-right: 92px;}
.padding-h-96{ padding-left: 96px; padding-right: 96px;}
.padding-hf-4{ padding-left: 4px !important; padding-right: 4px !important;}
.padding-hf-8{ padding-left: 8px !important; padding-right: 8px !important;}
.padding-hf-12{ padding-left: 12px !important; padding-right: 12px !important;}
.padding-hf-16{ padding-left: 16px !important; padding-right: 16px !important;}
.padding-hf-20{ padding-left: 20px !important; padding-right: 20px !important;}
.padding-hf-24{ padding-left: 24px !important; padding-right: 24px !important;}
.padding-hf-28{ padding-left: 28px !important; padding-right: 28px !important;}
.padding-hf-32{ padding-left: 32px !important; padding-right: 32px !important;}
.padding-hf-36{ padding-left: 36px !important; padding-right: 36px !important;}
.padding-hf-40{ padding-left: 40px !important; padding-right: 40px !important;}
.padding-hf-44{ padding-left: 44px !important; padding-right: 44px !important;}
.padding-hf-48{ padding-left: 48px !important; padding-right: 48px !important;}
.padding-hf-52{ padding-left: 52px !important; padding-right: 52px !important;}
.padding-hf-56{ padding-left: 56px !important; padding-right: 56px !important;}
.padding-hf-60{ padding-left: 60px !important; padding-right: 60px !important;}
.padding-hf-64{ padding-left: 64px !important; padding-right: 64px !important;}
.padding-hf-68{ padding-left: 68px !important; padding-right: 68px !important;}
.padding-hf-72{ padding-left: 72px !important; padding-right: 72px !important;}
.padding-hf-76{ padding-left: 76px !important; padding-right: 76px !important;}
.padding-hf-80{ padding-left: 80px !important; padding-right: 80px !important;}
.padding-hf-84{ padding-left: 84px !important; padding-right: 84px !important;}
.padding-hf-88{ padding-left: 88px !important; padding-right: 88px !important;}
.padding-hf-92{ padding-left: 92px !important; padding-right: 92px !important;}
.padding-hf-96{ padding-left: 96px !important; padding-right: 96px !important;}
